:root {
  --background-color: #e5e5e5;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ff3333;
}

html {
  background-color: var(--background-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

th,
td {
  border: 1px solid #000;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
}
