.container {
  display: flex;
  justify-content: center;
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
