.container {
  gap: 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.itemSection {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.itemField {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.itemErrorMessage {
  color: var(--color-red);
}
