.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.loginSection {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profileIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.wrapText {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}
