.navbar {
  background-color: var(--color-white);
  padding: 20px;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 999;
}

.bodyContainer {
  max-width: 900px;
  margin: 0 auto;
}
