.button {
  background-color: #3f51b5;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: #1e88e5;
}
.button:disabled {
  background-color: #a5a5a5;
  color: #7e7e7e;
}
