.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 20px 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.searchBar {
  width: 60%;
  height: 30px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
}
